<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EGPH</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
  <servlet-name>validar</servlet-name>
  <servlet-class>egph.controlador.Validar</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>validar</servlet-name>
  <url-pattern>/validarPerfil</url-pattern>
  </servlet-mapping>
     <servlet>
  <servlet-name>adminLogin</servlet-name>
  <servlet-class>egph.controlador.Adlogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>adminLogin</servlet-name>
  <url-pattern>/Alogin</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>registerC</servlet-name>
    <servlet-class>egph.controlador.RegistrarCajera</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>registerC</servlet-name>
    <url-pattern>/registrarC</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>clogin</servlet-name>
    <servlet-class>egph.controlador.Cjlogin</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>clogin</servlet-name>
    <url-pattern>/Cjlogin</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ilogin</servlet-name>
    <servlet-class>egph.controlador.InvLogin</servlet-class>
   </servlet>
    <servlet-mapping>
    <servlet-name>ilogin</servlet-name>
    <url-pattern>/Invlogin</url-pattern>
    </servlet-mapping>
     <servlet>
    <servlet-name>registerI</servlet-name>
    <servlet-class>egph.controlador.RegistrarInventario</servlet-class>
   </servlet>
    <servlet-mapping>
    <servlet-name>registerI</servlet-name>
    <url-pattern>/registrarI</url-pattern>
    </servlet-mapping>
        <servlet>
    <servlet-name>crearF</servlet-name>
    <servlet-class>egph.controlador.CrearFactura</servlet-class>
   </servlet>
    <servlet-mapping>
    <servlet-name>crearF</servlet-name>
    <url-pattern>/crearFactura</url-pattern>
    </servlet-mapping>
         <servlet>
    <servlet-name>crearPro</servlet-name>
    <servlet-class>egph.controlador.CrearProducto</servlet-class>
   </servlet>
    <servlet-mapping>
    <servlet-name>crearPro</servlet-name>
    <url-pattern>/crearPro</url-pattern>
    </servlet-mapping>
           <servlet>
    <servlet-name>getPro</servlet-name>
    <servlet-class>egph.controlador.CrearProducto</servlet-class>
   </servlet>
    <servlet-mapping>
    <servlet-name>getPro</servlet-name>
    <url-pattern>/getProductos</url-pattern>
    </servlet-mapping>
             <servlet>
    <servlet-name>addCanti</servlet-name>
    <servlet-class>egph.controlador.ActualizarProductos</servlet-class>
   </servlet>
    <servlet-mapping>
    <servlet-name>addCanti</servlet-name>
    <url-pattern>/actualizarCantidad</url-pattern>
    </servlet-mapping>
</web-app>